[
  # Succeeding
  {"norlunda": "ergan", "proto-germanic": "argijaną", "english": "to ruin"},
  {"norlunda": "vesan", "proto-germanic": "wesaną", "english": "to be"},
  {"norlunda": "al", "proto-germanic": "allaz", "english": "all, whole, entire"},
  {"norlunda": "grot", "proto-germanic": "grautaz", "english": "large"},
  {"norlunda": "ok", "proto-germanic": "auk", "english": "also, furthermore"},
  {"norlunda": "grot", "proto-germanic": "grautaz", "english": "large"},
  {"norlunda": "bok", "proto-germanic": "bōks", "english": "written message"},
  {"norlunda": "av", "proto-germanic": "ab", "english": "of"},
  {"norlunda": "beran", "proto-germanic": "beraną", "english": "to carry"},
  {"norlunda": "kat", "proto-germanic": "kattuz", "english": "cat"},
  {"norlunda": "feld", "proto-germanic": "felþą", "english": "field, plain"},
  {"norlunda": "dan", "proto-germanic": "þan", "english": "then"},
  {"norlunda": "hund", "proto-germanic": "hundaz", "english": "dog"},
  {"norlunda": "hevan", "proto-germanic": "habjaną", "english": "to have"},
  {"norlunda": "haem", "proto-germanic": "haimaz", "english": "home"},
  {"norlunda": "haetan", "proto-germanic": "haitaną", "english": "to be called"},
  {"norlunda": "konan", "proto-germanic": "kunnaną", "english": "can"},
  {"norlunda": "du", "proto-germanic": "þū", "english": "you"},
  {"norlunda": "ja", "proto-germanic": "ja", "english": "yes"},
  {"norlunda": "aen", "proto-germanic": "ainaz", "english": "one"},
  {"norlunda": "akto", "proto-germanic": "ahtōu", "english": "eight"},
  {"norlunda": "apal", "proto-germanic": "aplaz", "english": "apple"},
  {"norlunda": "dragan", "proto-germanic": "draganą", "english": "to pull"},
  {"norlunda": "dunor", "proto-germanic": "þunraz", "english": "thunder"},
  {"norlunda": "erd", "proto-germanic": "erþō", "english": "earth"},
  {"norlunda": "etan", "proto-germanic": "etaną", "english": "to eat"},
  {"norlunda": "fimf", "proto-germanic": "fimf", "english": "five"},
  {"norlunda": "fol", "proto-germanic": "fullaz", "english": "full"},
  {"norlunda": "folk", "proto-germanic": "fulką", "english": "people"},
  {"norlunda": "for", "proto-germanic": "furai", "english": "before"},
  {"norlunda": "galdor", "proto-germanic": "galdraz", "english": "charm, spell, incantation"},
  {"norlunda": "gevan", "proto-germanic": "gebaną", "english": "to give"},
  {"norlunda": "god", "proto-germanic": "gōdaz", "english": "good"},
  {"norlunda": "half", "proto-germanic": "halbaz", "english": "half"},
  {"norlunda": "held", "proto-germanic": "haliþaz", "english": "hero"},
  {"norlunda": "henxt", "proto-germanic": "hangistaz", "english": "stallion"},
  {"norlunda": "holz", "proto-germanic": "hultą", "english": "woods"},
  {"norlunda": "horan", "proto-germanic": "hauzijaną", "english": "to hear"},
  {"norlunda": "in", "proto-germanic": "in", "english": "in, into"},
  {"norlunda": "jeer", "proto-germanic": "jērą", "english": "year"},
  {"norlunda": "klaed", "proto-germanic": "klaiþą", "english": "cloth"},
  {"norlunda": "laekan", "proto-germanic": "laikaną", "english": "to dance"},
  {"norlunda": "liiv", "proto-germanic": "lībą", "english": "life"},
  {"norlunda": "luud", "proto-germanic": "hlūdaz", "english": "loud"},
  {"norlunda": "man", "proto-germanic": "mann", "english": "man, person"},
  {"norlunda": "mar", "proto-germanic": "marhaz", "english": "mare"},
  {"norlunda": "melk", "proto-germanic": "meluks", "english": "milk"},
  {"norlunda": "mid", "proto-germanic": "midi", "english": "with"},
  {"norlunda": "mund", "proto-germanic": "munþaz", "english": "mouth"},
  {"norlunda": "nuun", "proto-germanic": "newun", "english": "nine"},
  {"norlunda": "op", "proto-germanic": "upp", "english": "up"},
  {"norlunda": "raed", "proto-germanic": "raidaz", "english": "ready"},
  {"norlunda": "sag", "proto-germanic": "sagǭ", "english": "story"},
  {"norlunda": "sak", "proto-germanic": "sakō", "english": "thing, matter, affair, case"},
  {"norlunda": "salf", "proto-germanic": "salbō", "english": "salve"},
  {"norlunda": "sam", "proto-germanic": "samaz", "english": "same"},
  {"norlunda": "sax", "proto-germanic": "sahsą", "english": "dagger, knife"},
  {"norlunda": "segan", "proto-germanic": "sagjaną", "english": "to say"},
  {"norlunda": "self", "proto-germanic": "selbaz", "english": "self"},
  {"norlunda": "sevn", "proto-germanic": "sebun", "english": "seven"},
  {"norlunda": "sheep", "proto-germanic": "skēpą", "english": "sheep"},
  {"norlunda": "sholan", "proto-germanic": "skulaną", "english": "to be obligated"},
  {"norlunda": "sprekan", "proto-germanic": "sprekaną", "english": "to speak"},
  {"norlunda": "sprut", "proto-germanic": "sprutô", "english": "sprout"},
  {"norlunda": "strid", "proto-germanic": "stridiz", "english": "battle, fight"},
  {"norlunda": "stund", "proto-germanic": "stundō", "english": "point in time"},
  {"norlunda": "sundor", "proto-germanic": "sundraz", "english": "apart"},
  {"norlunda": "sveer", "proto-germanic": "swēraz", "english": "heavy"},
  {"norlunda": "sveft", "proto-germanic": "sweftaz", "english": "swift"},
  {"norlunda": "ten", "proto-germanic": "tehun", "english": "ten"},
  {"norlunda": "tovor", "proto-germanic": "taubrą", "english": "magic, sorcery"},
  {"norlunda": "tvelf", "proto-germanic": "twalif", "english": "two left"},
  {"norlunda": "vagn", "proto-germanic": "wagnaz", "english": "wagon"},
  {"norlunda": "varm", "proto-germanic": "warmaz", "english": "warm"},
  {"norlunda": "vator", "proto-germanic": "watōr" , "english":"water"},
  {"norlunda": "vendan", "proto-germanic": "wandijaną", "english": "to turn"},
  {"norlunda": "viit",  "proto-germanic": "hwītaz" , "english":"white"},
  {"norlunda": "viiv", "proto-germanic": "wībą", "english": "wife, woman"},
  {"norlunda": "vit", "proto-germanic": "witją", "english": "wit, knowledge"},
  {"norlunda": "vod", "proto-germanic": "wōdaz", "english": "frenzy"},
  {"norlunda": "vodan", "proto-germanic": "wōdanaz", "english": "Wotan"},
  {"norlunda": "vol", "proto-germanic": "wullō", "english": "wool"},
  {"norlunda": "vord", "proto-germanic": "wurdą", "english": "word"},
  {"norlunda": "vorkan", "proto-germanic": "wurkijaną", "english": "to work"},
  {"norlunda": "vund", "proto-germanic": "wundō", "english": "wound"},

  # Irregular?
  {"norlunda": "til", "proto-germanic": "tilą", "english": "goal"},

  # Norlunda errors
  {"norlunda": "fur", "proto-germanic": "furi", "english": "before, forward"},
  {"norlunda": "svei", "proto-germanic": "swā", "english": "?"},
  {"norlunda": "shadu", "proto-germanic": "skadwaz", "english": "shadow"},
  {"norlunda": "riiban", "proto-germanic": "wrībaną", "english": "to rub"},
  {"norlunda": "riitan", "proto-germanic": "wrītaną", "english": "to scratch, engrave"},
  {"norlunda": "fugal", "proto-germanic": "fuglaz", "english": "bird"},
  {"norlunda": "deid", "proto-germanic": "þeudō", "english": "people, tribe"},
  {"norlunda": "laedan", "proto-germanic": "laiþą", "english": "sorrow, suffering, affliction"},

  # Unexpected a-umlaut trigger
  {"norlunda": "driivan", "proto-germanic": "drībaną", "english": "to drive"},
  {"norlunda": "drinkan", "proto-germanic": "drinkaną", "english": "to drink"},

  # Unknown issue
  {"norlunda": "seen", "proto-germanic": "sehwaną", "english": "to see"},
  {"norlunda": "renan", "proto-germanic": "rinnaną", "english": "to run, to rush"},
  {"norlunda": "beer", "proto-germanic": "berô", "english": "bear"},
  {"norlunda": "beri", "proto-germanic": "bazją", "english": "berry"},
  {"norlunda": "dri", "proto-germanic": "þrīz", "english": "three"},
  {"norlunda": "makan", "proto-germanic": "makōną", "english": "to make"},

  # Unknown failure reason
  {"norlunda": "deedan", "proto-germanic": "þiudijaną", "english": "to interpret"},
  {"norlunda": "donan", "proto-germanic": "dōną", "english": "to prepare"},
  {"norlunda": "dreen", "proto-germanic": "þrēaną", "english": "to turn, twist"},
  {"norlunda": "eiman", "proto-germanic": "aiwazmann", "english": "always man"},
  {"norlunda": "eng", "proto-germanic": "inguz", "english": "Ing"},
  {"norlunda": "erdberi", "proto-germanic": "erþōbazją", "english": "strawberry"},
  {"norlunda": "fleigan", "proto-germanic": "fleuganą", "english": "to fly"},
  {"norlunda": "flein", "proto-germanic": "fleuhaną", "english": "to flee"},
  {"norlunda": "frou", "proto-germanic": "frawjǭ", "english": "lady"},
  {"norlunda": "gan", "proto-germanic": "gāną", "english":  "to go, walk"},
  {"norlunda": "gang", "proto-germanic": "gānąingō", "english":  "a going"},
  {"norlunda": "halfvit", "proto-germanic": "halbazwitją", "english": "half-wit"},
  {"norlunda": "heer", "proto-germanic": "hairaz", "english": "gray"},
  {"norlunda": "heerz", "proto-germanic": "hertô", "english": "heart"},
  {"norlunda": "lest", "proto-germanic": "hlasti", "english": "load, burden"},
  {"norlunda": "luvan", "proto-germanic": "lubōną", "english": "to love"},
  {"norlunda": "meer", "proto-germanic": "maizô", "english": "more"},
  {"norlunda": "nei", "proto-germanic": "nai", "english": "never"},
  {"norlunda": "or", "proto-germanic": "ausô", "english": "ear"},
  {"norlunda": "rot", "proto-germanic": "wrōts", "english": "root"},
  {"norlunda": "rus", "proto-germanic": "hrussą", "english": "horse"},
  {"norlunda": "singan", "proto-germanic": "singwaną", "english": "to sing"},
  {"norlunda": "smiran", "proto-germanic": "smirwijaną", "english": "to smear, anoint"},
  {"norlunda": "spilan", "proto-germanic": "spilōną", "english": "to play"},
  {"norlunda": "strutan", "proto-germanic": "strūtaną", "english": "to swell, be puffed up"}

]
